/* 
RESET 
*/
button, input {
    background-color: transparent;
	color: inherit;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



/* 
REUSABLES
*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}



/* 
Variables
*/

:root {
    --blue-clr: #0284c7;
    --white-clr: #f8fafc;
    --black-clr: #020617;
    --gray-clr: #4b5563;
    --white-filter: invert(100%) sepia(57%) saturate(1058%) hue-rotate(179deg) brightness(104%) contrast(97%);

    --image-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

body {
    font-family: system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    color: var(--white-clr);
    overflow-x: hidden;
}

.hero, .projects {
    padding: 0 1.125rem;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--black-clr);
}

.social-icons {
    justify-content: center;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    color: var(--black-clr);
}

.portrait {
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--image-shadow);
    filter: brightness(70%);
    vertical-align: bottom;
}

.hero-bg {
    background-color: var(--blue-clr);
    width: 300vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-40%) translateY(-50%) rotate(-30deg);
    z-index: -3;
}



/* 
Main Styles
*/

.hero {
    gap: 2rem;
    margin-bottom: 6rem;
    padding-top: 1.125rem;

    .hero-image {
        position: relative;
        margin: auto;
    }

    .hero-image p {
        font-size: 4rem;
        font-weight: 700;
        padding: 1rem;
        text-shadow: 2px 2px 4px var(--black-clr);
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .hero-about p {
        color: var(--gray-clr);
        font-size: clamp(100%, 1rem + 2vw, 20px);
        line-height: 1.4;
        margin: 0 auto 1.5rem auto;
        max-width: 43ch;
    }
}

.projects {
    margin-bottom: 6rem;

    .projects-cards {
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
        .card {
            box-shadow: var(--card-shadow);
            color: var(--black-clr);
        
            .card-top {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                background-color: var(--blue-clr);
                color: var(--white-clr);
                height: 250px;
            }

            .card-bottom {
                padding: 1.5rem 1.5rem 4rem 1.5rem;

                .bottom-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.25rem;
                    margin-bottom: 1rem;

                    .top-icons {
                        display: flex;
                        gap: .625rem;
                    }

                    .link-icon {
                        width: 28px;
                    }

                    .social-icon {
                        font-size: 26px;
                    }
                }
            }

            .card-bottom p {
                color: var(--gray-clr);
            }
        }
    }
}

.contact {
    background-color: var(--blue-clr);
    
    .contact-info {
        margin: auto;
        max-width: 400px;
        gap: 2rem;
        padding: 1rem 1.125rem 1.5rem 1.125rem;

        .contact-address, .contact-phonemail {
            gap: 4px;
        }

        .phone, .mail {
            gap: .5rem;
        }

        .phone-icon, .mail-icon {
            width: 20px;
            filter: var(--white-filter);
        }
    }

    .contact-info h2 {
        color: var(--white-clr);
        margin-bottom: -1rem;
    }

    .contact-info h2 + p {
        font-size: 1.25rem;
    }

    .contact-image {
        display: flex;
        justify-content: center;
    }
}



/* 
Media Queries
*/
@media (min-width: 43.75rem) {
    h2 {
        text-align: left;
    }

    .hero-bg {
        width: 300vw;
        height: 100vh;
        transform: translateX(-40%) translateY(-40%) rotate(-10deg);
    }

    .portrait {
        width: 100%;
        max-width: 400px;
        max-height: 500px;
    }

    .hero {
        flex-direction: row;
        justify-content: center;
        gap: 0;

        .hero-image {
            margin: 0;
        }

        .hero-image p {
            font-size: clamp(24px, 1rem + 2vw, 48px);
        }

        .hero-about {
            background-color: var(--white-clr);
            box-shadow: var(--card-shadow);
            padding: 1.5rem;
            max-width: 60%;
            margin: auto 0;

            .about-icons {
                justify-content: flex-end;
            }
        }
    }

    .projects {
        padding: 0 10%;
    }

    .contact {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 2rem;

        .contact-info {
            margin: 0;

            .contact-icons {
                justify-content: flex-start;
            }
        }

        .contact-image {
            padding: 1rem 1rem 1rem 0;
        }
    }
}